<title>Registrar Séries - Meninas e Mulheres na Ciência</title>
<meta name="description"
  content='Área privada reservada para a edição de séries do projeto "Meninas e Mulheres na Ciência"'>
</head>

<body onload="selecionarOpcaoPreDefinida({})">
  {{>area-restrita/header-restrita}}
  <main>
    <section>
      {{>area-restrita/voltar-e-logo caminho="/restrito/gerenciar/dicas-culturais/series"}}
      <div class="texto-Titulo titulo-dados-integrante">
      </div>

      {{#if objetoAEditar}}
      <form class="formulario-registro" action="/restrito/update/dica-cultural/{{objetoAEditar.idDicaCultural}}"
        enctype="multipart/form-data" method="post">
        {{else}}
        <form class="formulario-registro" action="/restrito/registrar/dica-cultural" enctype="multipart/form-data"
          method="post">
          {{/if}}

          <span>Título da Série: </span>
          <input type="text" name="titulo" required="required" value="{{objetoAEditar.titulo}}">

          <span>Data de lançamento: </span>
          <input type="date" name="dataLancamento" required="required" value="{{objetoAEditar.dataLancamento}}" />

          <input type="text" name="categoriaDicaCultural" value="Série" style="display: none;">

          <span>Direção da Série: </span>
          <input type="text" name="direcaoSerie" required="required" value="{{objetoAEditar.direcaoSerie}}">

          <span>Quantidade de Temporadas: </span>
          <input type="number" name="qtdTemporadas" required="required" value="{{objetoAEditar.qtdTemporadas}}">

          <span>Sinopse: </span>
          <textarea name="sinopse" required="required">{{objetoAEditar.sinopse}}</textarea>

          {{#if objetoAEditar.caminhoImagem}}
          <span>Imagem Atual:</span>
          <img src="{{objetoAEditar.caminhoImagem}}">
          <input type="text" name="caminhoImagem" style="display: none;" value="{{objetoAEditar.caminhoImagem}}">
          <span>Imagem nova (se não quiser mudar a imagem não mexa neste campo): </span>
          <input type="file" name="imagem" accept="image/*">

          {{else}}
          <span>Imagem: </span>
          <input type="file" name="imagem" value="{{objetoAEditar.caminhoImagem}}" accept="image/*">
          {{/if}}



          <input type="submit" value="Salvar">
        </form>


    </section>

  </main>
  <footer>

  </footer>
</body>